*{
    margin: 0 auto;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-style: 'Merriweather', serif; ;
}
.heading{
    font-weight: bold;
    font-size: 2rem;
}
/* header design */
.header-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:  auto;
    padding: 30px 50px 0px 40px;
}
.header-container .h1-pic{
    
    height: 400px;
    width: 300px;
    display: block;
}
.underline{
    text-decoration: underline;
}
.btn-primary{
    border: none;
    border-radius: 4px;
    background: #E55473;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
}
.btn-primary:hover{
    background-color:bisque;
    color: black;
}
.pink-flower{
   
    height: 600px;
   
    position: relative;
    margin: auto;
    display: flex;
    padding: 50px 0;
   
  align-items: center;
  justify-content: center;
    
    text-align: center;
  
}
.flower{
    width: 500px;
    height: 500px;
    position: absolute;
   
   

}
.pink-flower-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 100px 300px;
    padding: 5px ;
}
.pink-flower-img .img-6{
  
    background-size: 400px;
    
    
}
.pink-flower-img .img-6 img{
    width: 150px;
    height: 150px;
    display: block;
   
   
    padding: 10px 5px 0px 5px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
    
    

}
.pink-flower-img .img-5 img{
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px 5px 0px 5px;
 
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.pink-flower-img .img-7 img{
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px 5px 0px 5px;
 
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.header-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 30px;
    height:200px ;
    width: 450px;
    background: rgba(39, 39, 39, 0.05);
    font-size: 0.6rem;
    margin: auto;


    background-size: 350px;}
    .header-3 .flower-1-img img {
        height: 90px;
        width: 100px;
    }
 /* main  */
 .main-container{
    display: flex;
    background-color:rgba(229, 84, 115, 0.05);
    margin-top: 70px;
    padding: 50px;
    gap: 10px;
 }
 .main-des{
  width: 50%;
  margin: auto;
 }
 .insta-pics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 100px 300px;
    padding: 5px ;
    width: 50%;

 }
 .insta-conts{
    text-align: center;
    margin-top: 50px;

 }
 .insta-pic-class{
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px 5px 0px 5px;

 }
 .latest-deals{
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
   height: 400px;
 }
 .Subscribe-btn{
    border: none;
    border-radius: 4px;
    background-color: #E55473;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
 }
 .section{
    text-align: center;
 }
 .latest-deals .section> input{
    width: 250px;
    height: 30px;
 }
 .feedback{
    background-color: rgba(229, 84, 115, 0.05);
    ;
 }
 .last-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
     padding: 10px;  
    
 }
 .feedback{
    background-size: cover;
    width: 100%;
    padding: 10px;

 }
 footer{
    background-color: #111010;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
 }
